.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/*----------HEADER-STARTS--------------------*/
.wrapper {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto; }
  .wrapper .header {
    width: 100%;
    height: 100px;
    background: #fff;
    z-index: 3; }
    .wrapper .header .header-inner {
      max-width: 1170px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden; }
      .wrapper .header .header-inner .logo {
        display: block;
        float: left;
        height: 100%;
        overflow: hidden;
        width: 120px;
        margin-top: 31px; }
        .wrapper .header .header-inner .logo a {
          width: 100%;
          height: 100%;
          display: block; }
          .wrapper .header .header-inner .logo a img {
            width: 100%;
            height: auto; }
      .wrapper .header .header-inner menu {
        width: auto;
        height: 97%;
        float: right; }
        @media (min-width: 320px) and (max-width: 640px) {
          .wrapper .header .header-inner menu {
            display: none; } }
        .wrapper .header .header-inner menu li {
          width: auto;
          height: 100%;
          float: right; }
          .wrapper .header .header-inner menu li a {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #484c55;
            display: block;
            text-align: center;
            height: 100%;
            line-height: 6.7;
            padding: 0 25px; }
          .wrapper .header .header-inner menu li a:hover {
            color: #49cbcd; }
        .wrapper .header .header-inner menu li:hover {
          background: #f8f9fb;
          border-bottom: 3px solid #49cbcd; }
      .wrapper .header .header-inner .navigation {
        background: transparent url("../img/nav.png") no-repeat scroll 0 0;
        display: none;
        float: right;
        height: 30px;
        margin-right: 3%;
        margin-top: 35px;
        overflow: hidden;
        cursor: pointer;
        width: 40px; }
        @media (min-width: 320px) and (max-width: 640px) {
          .wrapper .header .header-inner .navigation {
            display: block; } }
      .wrapper .header .header-inner .vertical-menu {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        display: none;
        height: auto;
        left: 0;
        position: absolute;
        top: 76px;
        width: 100%;
        z-index: 3; }
        .wrapper .header .header-inner .vertical-menu .close {
          background: url("../img/close.png") no-repeat;
          z-index: 5;
          left: 93% !important;
          top: 12px !important;
          position: absolute;
          display: block;
          width: 10px;
          height: 10px; }
        .wrapper .header .header-inner .vertical-menu li {
          width: 100%;
          height: 60px;
          border-bottom: 1px solid #dfdfdf; }
          .wrapper .header .header-inner .vertical-menu li a {
            font-family: inherit;
            font-weight: 600;
            line-height: 3.5;
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            color: #49cbcd; }

/*----------HEADER-ENDS--------------------*/
/*----------SLIDER-STARTS--------------------*/
.slider {
  width: 100%;
  height: auto; }
  .slider .slider-inner {
    max-width: 1395px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    .slider .slider-inner .slider-box {
      display: block;
      height: auto;
      right: 0;
      bottom: 0;
      left: 0;
      top: 24.6%;
      position: absolute;
      z-index: 1;
      width: auto;
      margin: auto; }
      .slider .slider-inner .slider-box h2 {
        text-align: center;
        display: block;
        width: auto;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #ffffff;
        font-size: 63px; }
        @media (min-width: 320px) and (max-width: 980px) {
          .slider .slider-inner .slider-box h2 {
            font-size: 50px; } }
        @media (min-width: 320px) and (max-width: 768px) {
          .slider .slider-inner .slider-box h2 {
            font-size: 30px; } }
        @media (min-width: 320px) and (max-width: 480px) {
          .slider .slider-inner .slider-box h2 {
            font-size: 30px; } }
      .slider .slider-inner .slider-box p {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 23px;
        color: white;
        text-align: center;
        width: 375px;
        line-height: 1.6;
        display: block;
        margin: 2.1% auto 0; }
        @media (min-width: 320px) and (max-width: 980px) {
          .slider .slider-inner .slider-box p {
            font-size: 16px; } }
        @media (min-width: 320px) and (max-width: 768px) {
          .slider .slider-inner .slider-box p {
            font-size: 10px; } }
        @media (min-width: 320px) and (max-width: 480px) {
          .slider .slider-inner .slider-box p {
            font-size: 7px; } }
      .slider .slider-inner .slider-box a {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 26px;
        border: 3px solid white;
        border-radius: 5px;
        line-height: 2.4;
        text-align: center;
        color: #fff;
        width: 17%;
        margin: 57px auto 0; }
        @media (min-width: 320px) and (max-width: 980px) {
          .slider .slider-inner .slider-box a {
            font-size: 20px; } }
        @media (min-width: 320px) and (max-width: 768px) {
          .slider .slider-inner .slider-box a {
            font-size: 10px; } }
        @media (min-width: 320px) and (max-width: 480px) {
          .slider .slider-inner .slider-box a {
            margin-top: 10px;
            width: 25%; } }
    .slider .slider-inner .slides img {
      width: 100%;
      height: 100%;
      position: relative; }
  @media (min-width: 320px) and (max-width: 480px) {
    .slider .flex-direction-nav {
      display: none; } }
  .slider .flex-nav-prev {
    background: url(../img/prev.png) no-repeat;
    display: block;
    height: 51px;
    width: 51px;
    position: absolute;
    text-indent: -9999px;
    top: 0%;
    bottom: 0%;
    right: 90%;
    left: 0%;
    margin: auto; }
    .slider .flex-nav-prev a {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden; }
  .slider .flex-nav-next {
    background: url(../img/next.png) no-repeat;
    display: block;
    height: 51px;
    width: 51px;
    position: absolute;
    text-indent: -9999px;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 90%;
    margin: auto; }
    .slider .flex-nav-next a {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden; }
  .slider .flex-control-paging {
    display: none; }

/*----------SLIDER-ENDS--------------------*/
/*----------TEAM-STARTS--------------------*/
.team {
  width: 100%;
  height: auto; }
  .team .team-inner {
    max-width: 1170px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }
    .team .team-inner h2 {
      font-size: 42px;
      text-align: center;
      padding-top: 100px;
      margin-bottom: 135px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
    .team .team-inner .ex-box {
      width: 100%;
      height: auto;
      overflow: hidden; }
      .team .team-inner .ex-box .last-example {
        margin-right: 0; }
      .team .team-inner .ex-box .examples {
        width: 21%;
        height: 520px;
        float: left;
        margin-right: 5%;
        position: relative; }
        @media (min-width: 320px) and (max-width: 640px) {
          .team .team-inner .ex-box .examples {
            width: 100%; } }
        .team .team-inner .ex-box .examples .circul {
          width: 81%;
          height: auto;
          margin: 0 auto;
          position: relative; }
          @media (min-width: 320px) and (max-width: 640px) {
            .team .team-inner .ex-box .examples .circul {
              width: 35%; } }
          .team .team-inner .ex-box .examples .circul a {
            width: 100%;
            height: auto;
            display: block; }
            .team .team-inner .ex-box .examples .circul a img {
              width: 100%;
              height: auto; }
          .team .team-inner .ex-box .examples .circul .add {
            background: url(../img/add.png) no-repeat;
            width: 41px;
            height: 42px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: none;
            cursor: pointer; }
          .team .team-inner .ex-box .examples .circul .circul:hover .add {
            display: block; }
        .team .team-inner .ex-box .examples .circul:hover .add {
          display: block; }
        .team .team-inner .ex-box .examples .name {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 22px;
          margin-top: 70px;
          text-align: center;
          color: #4e525d; }
        .team .team-inner .ex-box .examples .position {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          color: #4e525d;
          margin-top: 13px; }
        .team .team-inner .ex-box .examples .description {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          color: #4e525d;
          margin-top: 30px;
          line-height: 1.5; }
      .team .team-inner .ex-box .examples:last-child {
        margin-right: 0; }

/*----------TEAM-ENDS--------------------*/
/*----------BLOCKS-STARTS--------------------*/
.blocks {
  width: 100%;
  height: 738px;
  background: #f1f1f1;
  margin: 0 auto; }
  .blocks .blocks-inner {
    max-width: 1170px;
    width: auto;
    height: 100%;
    margin: 0 auto; }
    .blocks .blocks-inner .row {
      width: 32%;
      height: auto;
      margin-right: 2%;
      float: left;
      margin-top: 120px; }
      @media (min-width: 320px) and (max-width: 640px) {
        .blocks .blocks-inner .row {
          width: 100%; } }
      .blocks .blocks-inner .row h4 {
        display: block;
        width: 100%;
        height: 68px;
        text-align: center;
        line-height: 3;
        background: #f8f9fb;
        font-size: 20px;
        color: #485460;
        font-family: "Open Sans", sans-serif;
        font-weight: 400; }
      .blocks .blocks-inner .row .mark {
        display: block;
        width: 100%;
        height: 75px;
        text-align: center;
        line-height: 3;
        background: #485460;
        font-size: 26px;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 400; }
      .blocks .blocks-inner .row span {
        display: block;
        width: 100%;
        height: 45px;
        text-align: center;
        line-height: 3;
        background: #ffffff;
        font-size: 14px;
        color: #8c9299;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        border-top: 1px solid #ecf0f1; }
      .blocks .blocks-inner .row .last-span {
        border-bottom: 1px solid #ecf0f1; }
      .blocks .blocks-inner .row .btn-holder {
        width: 100%;
        height: 100px;
        text-align: center;
        background: #f8f9fb;
        overflow: hidden; }
      .blocks .blocks-inner .row .btn {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 17px;
        color: #ffffff;
        line-height: 2.5;
        margin: 0 auto;
        width: 170px;
        height: 40px;
        display: block;
        background: #788492;
        text-align: center;
        overflow: hidden;
        margin-top: 29px;
        border-radius: 4px; }
    .blocks .blocks-inner .row:last-child {
      margin-right: 0px; }
    .blocks .blocks-inner .blue .mark {
      background: #49cbcd; }
    .blocks .blocks-inner .blue .btn {
      background: #49cbcd; }
    @media (min-width: 320px) and (max-width: 640px) {
      .blocks .blocks-inner .first-row {
        margin-top: 0px; } }

/*----------BLOCKS-ENDS--------------------*/
/*----------FOOTER-STARTS--------------------*/
footer {
  width: 100%;
  height: 680px;
  background: url(../img/contact.jpg) no-repeat;
  margin: 0 auto;
  overflow: hidden;
  background-size: 100% 100%; }
  footer .footer-inner {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    footer .footer-inner h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 42px;
      color: #fff;
      display: block;
      padding-top: 100px;
      text-align: center; }
    footer .footer-inner .social {
      width: 51%;
      height: 100%;
      float: left;
      margin-top: 115px; }
      footer .footer-inner .social h4 {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #b1b1b1; }
      footer .footer-inner .social p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #b1b1b1;
        margin-top: 17px;
        display: block;
        width: 80%;
        line-height: 1.5; }
      footer .footer-inner .social .links {
        width: 100%;
        height: auto;
        margin-top: 32px;
        margin-bottom: 20px;
        height: 41px; }
        footer .footer-inner .social .links a {
          margin-right: 13px;
          display: block;
          width: 42px;
          height: 42px;
          float: left; }
      footer .footer-inner .social .info {
        width: 100%;
        height: auto; }
        footer .footer-inner .social .info span {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          color: #b1b1b1;
          font-size: 14px;
          width: 100%;
          display: block;
          margin-top: 14px; }
        footer .footer-inner .social .info .first-info {
          margin-top: 0px; }
    footer .footer-inner .form-block {
      width: 49%;
      float: left;
      height: 100%;
      margin-top: 118px; }
      footer .footer-inner .form-block .input-block {
        width: 43.5%;
        margin-right: 52px;
        float: left; }
        footer .footer-inner .form-block .input-block input[type="text"] {
          border: medium none;
          outline: medium none;
          vertical-align: middle;
          width: 100%;
          height: 44px;
          background: #fff;
          border-radius: 5px;
          padding-left: 20px; }
      footer .footer-inner .form-block .no-margin {
        margin-right: 0px; }
        @media (min-width: 320px) and (max-width: 640px) {
          footer .footer-inner .form-block .no-margin {
            margin-top: 30px; } }
      footer .footer-inner .form-block input[type="text"]:-moz-placeholder {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #c1c1c1;
        font-size: 16px;
        margin-left: 22px; }
      footer .footer-inner .form-block textarea[type="text"] {
        width: 96%;
        height: 178px;
        margin-top: 29px;
        border-radius: 5px;
        border: medium none;
        outline: medium none;
        line-height: 3;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #c1c1c1;
        font-size: 16px;
        padding: 0 0 0 20px; }
      footer .footer-inner .form-block input[type="submit"] {
        width: 170px;
        height: 50px;
        background: #49cbcd;
        border: medium none;
        outline: medium none;
        border-radius: 5px;
        margin-top: 30px;
        float: right;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #fff;
        font-size: 16px;
        cursor: pointer; }
      footer .footer-inner .form-block .error input,
      footer .footer-inner .form-block .error textarea {
        border: 1px solid red; }
      footer .footer-inner .form-block .error {
        color: red; }

/*----------FOOTER-ENDS--------------------*/
